/* h1{
    color: black;
}
#my{
    color: red;
}
.a{
    color: blue;
}
#v{
    color: yellowgreen;
} */

/* h1{
    color: pink;
}
#a{
    color: yellow;
}
.m{
    color:brown;
}
div p {
    background-color: black;
}
.p{
    background-color:blue;
}
p{
    background-color: green;
} */
*p{
    text-align: center;

}